body {
  background: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333; }

header, main, footer {
  padding-left: 240px; }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; } }
header .side-nav {
  background: #273948;
  border: 0;
  border-right: 1px solid #eee; }
  header .side-nav.fixed a {
    color: #a7b1c2;
    padding: 8px 15px;
    line-height: normal;
    height: auto; }
  header .side-nav li {
    line-height: normal; }
    header .side-nav li.menu-item {
      background: #273948; }
      header .side-nav li.menu-item:nth-child(2) {
        margin-top: 115px; }
      header .side-nav li.menu-item:last-child {
        padding-bottom: 50px !important; }
      header .side-nav li.menu-item .collapsible-header {
        margin: 0;
        padding: 10px 0 10px 15px !important; }
        header .side-nav li.menu-item .collapsible-header .mdi-navigation-arrow-drop-down {
          margin-right: 0; }
      header .side-nav li.menu-item a {
        background: #273948;
        margin: 0;
        padding-left: 30px; }
        header .side-nav li.menu-item a.active, header .side-nav li.menu-item a:hover {
          background: #243644;
          color: #fff; }
        header .side-nav li.menu-item a .switch {
          margin-right: -20px; }
  header .side-nav .user-details {
    background: #243644;
    border-bottom: 1px solid #273948;
    color: #a7b1c2;
    font-size: 12px;
    height: 115px;
    position: fixed;
    top: 0;
    z-index: 10; }
    header .side-nav .user-details .col {
      padding: 0 5px; }
    header .side-nav .user-details .profile-image {
      border: 1px solid #6C7B92;
      margin-top: 30px; }
    header .side-nav .user-details .profile-btn {
      margin-top: 38px;
      padding: 0;
      text-transform: none; }
    header .side-nav .user-details #profile-dropdown {
      width: 128px;
      top: 38px !important; }
      header .side-nav .user-details #profile-dropdown a {
        color: #333;
        font-size: 14px;
        padding: 15px 0; }
    header .side-nav .user-details .user-roal {
      margin: 0; }

main nav.navbar-fixed {
  height: 50px; }
  main nav.navbar-fixed .container {
    width: 100%;
    line-height: normal;
    padding: 0 15px; }
    main nav.navbar-fixed .container .brand-logo {
      color: #777;
      line-height: 20px;
      font-size: 18px; }
      main nav.navbar-fixed .container .brand-logo img {
        opacity: 0.6;
        width: 50px;
        margin-top: 5px; }
      main nav.navbar-fixed .container .brand-logo .name {
        margin-top: 15px; }
    main nav.navbar-fixed .container ul a {
      color: #777;
      padding: 17px 15px; }
main .card .card-title {
  font-size: 19px;
  font-weight: 400;
  line-height: 38px !important; }
main .card .card-content {
  max-height: initial !important; }
  main .card .card-content .auditlog {
    overflow-y: auto;
    height: 220px; }
    main .card .card-content .auditlog .card-panel {
      padding: 0;
      line-height: 12px;
      margin-bottom: 10px; }
      main .card .card-content .auditlog .card-panel .row {
        margin-bottom: auto; }
      main .card .card-content .auditlog .card-panel .responsive-img {
        margin-top: 5px; }
      main .card .card-content .auditlog .card-panel .description {
        font-size: 12px; }
      main .card .card-content .auditlog .card-panel .time {
        font-size: 10px; }
main .card .btn-flat {
  padding: 0px !important; }
main .card .dropdown-content {
  left: auto !important;
  right: 0px !important; }
  main .card .dropdown-content li {
    min-height: initial; }
    main .card .dropdown-content li a {
      font-size: 14px;
      padding: 10px 10px; }

/*# sourceMappingURL=dashboard.css.map */
