@charset "UTF-8";

$body-color: #333;

$left-nav-background: #273948;
$left-nav-link-active-background: #243644;
$left-nav-link-color: #a7b1c2;
$left-nav-link-active-color: #fff;

body {
  background: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $body-color;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}


header {
  .side-nav {
    background: $left-nav-background;
    border: 0;
    border-right: 1px solid #eee;

    &.fixed {
      a {
        color: $left-nav-link-color;
        padding: 8px 15px;
        line-height: normal;
        height: auto;
      }
    }

    li {
      line-height: normal;

      &.menu-item {
        background: $left-nav-background;

        // move menu items from beneath the user profile by adding a margin top of that size
        &:nth-child(2) {
          margin-top: 115px;
        }

        // add some padding after last menu item
        &:last-child {
          padding-bottom: 50px !important;
        }

        .collapsible-header {
          margin: 0;
          padding: 10px 0 10px 15px !important;

          .mdi-navigation-arrow-drop-down {
            margin-right: 0;
          }
        }

        a {
          background: $left-nav-background;
          margin: 0;
          padding-left: 30px;

          &.active, &:hover {
            background: $left-nav-link-active-background;
            color: $left-nav-link-active-color;
          }

          .switch {
            margin-right: -20px;
          }
        }

      }

    }

    // user profile from top left nav
    .user-details {
      background: $left-nav-link-active-background;
      border-bottom: 1px solid $left-nav-background;
      color: $left-nav-link-color;
      font-size: 12px;
      height: 115px;
      position: fixed;
      top: 0;
      z-index: 10;

      .col {
        padding: 0 5px;
      }

      .profile-image {
        border: 1px solid #6C7B92;
        margin-top: 30px;
      }

      .profile-btn {
        margin-top: 38px;
        padding: 0;
        text-transform: none;
      }

      #profile-dropdown {
        width: 128px;
        top: 38px !important;

        a {
          color: $body-color;
          font-size: 14px;
          padding: 15px 0;
        }
      }

      .user-roal {
        margin: 0;
      }

    }

  }
}

main {

  // left top nav bar
  nav {
    &.navbar-fixed {
      height: 50px;

      .container {
        width: 100%;
        line-height: normal;
        padding: 0 15px;

        .brand-logo {
          color: #777;
          line-height: 20px;
          font-size: 18px;

          img {
            opacity: 0.6;
            width: 50px;
            margin-top: 5px;
          }

          .name {
            margin-top: 15px;
          }
        }

        ul a {
          color: #777;
          padding: 17px 15px;
        }

      }
    }
  }

  .card {

    .card-title {
      font-size: 19px;
      font-weight: 400;
      line-height: 38px !important;
    }

    .card-content {
      padding: 10px;
      max-height: initial !important;

      .auditlog {
        overflow-y: auto;
        height: 220px;

        .card-panel {
          padding: 0;
          line-height: 12px;
          margin-bottom: 10px;

          .row {
            margin-bottom: auto;
          }

          .responsive-img {
            margin-top: 5px;
          }

          .description {
            font-size: 12px;
          }

          .time {
            font-size: 10px;
          }
        }
      }

    }

    .card-reveal {
      padding: 10px;

      .search-wrapper {
        margin: 0;

        .prefix {
          font-size: 20px;
          margin-top: 10px;
        }

        .search {
          margin: 0;
          padding-left: 25px;
          height: 35px;
          width: calc(100% - 2rem);
        }
      }

      .build-list {
        height: 200px;
        overflow-y: auto;

        .collection {
          border: 0;

          .collection-item {
            padding: 5px;
          }
        }
      }
    }

    .btn-flat {
      padding: 0px !important;
    }

    .dropdown-content {
      left: auto !important;
      right: 0px !important;

      li {
        min-height: initial;

        a {
          font-size: 14px;
          padding: 10px 10px;
        }
      }
    }
  }

}
